exportPattern("^[[:alpha:]]+")
import("graphics")
import("stats")
import("network")
importFrom("grDevices", "colorRampPalette", "palette", "rainbow")
importFrom("foreach", "%dopar%")
importFrom("vegan", "vegdist")
importFrom("matrixStats", "logSumExp")
importFrom("gplots", "heatmap.2")