exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "colorRampPalette", "palette", "rainbow", "topo.colors")
importFrom("graphics", "image", "legend", "matplot", "plot", "points", "segments", "text", "title")
importFrom("stats", "chisq.test", "cmdscale", "cor", "dist", "pchisq", "setNames")
importFrom("foreach", "%dopar%")